<div class="container">
    <div class="row">
        <a [href]="project1" target="_blank">
            <img class="img-responsive" src="./assets/images/project1.png" alt="image">
        </a>
        <div class="col-md-12">
            This website was done to improve FEUP ecoly by permiting students to submit new ideas to make the
            faculty
            more
            sustainable.
            <p>Tecnologies: Ruby on Rails <a [href]="githubProject1" target="_blank">
                    <fa-icon id="github" [icon]="faGithub" size="2x"></fa-icon>
                </a></p>
        </div>
        <img class="img-responsive" src="./assets/images/project2-1.png" alt="image">
        <img class="img-responsive" src="./assets/images/project2-2.png" alt="image">
        <div class="col-md-12">
            Development of a framework capable of connecting brainwave measuring devices with a graphic interface for
            Inova+.
            <p>Tecnologies: Java & JavaFX <a [href]="githubProject2" target="_blank">
                    <fa-icon id="github" [icon]="faGithub" size="2x"></fa-icon>
                </a></p>
        </div>
    </div>
</div>