<div class="container">
    <div class="row">
        <a [href]="blogLink" target="_blank">
            <img class="img-responsive" src="./assets/images/blog.png" alt="image">
        </a>
        <div class="col-md-12">
            I start by writing this knowledge because it make sense to me to store in some place and review after time, and why not share with the world?
           <p>Future topics:</p>
           <ul class="list">
               <li>Design Patterns</li>
               <li>Java Multithreading and Concurrency</li>
           </ul>
        </div>      
    </div>
</div>