<div class="container">
    <div class="row">       
        <div class="col-md-12">
            I start by writing this knowledge at medium blog because it make sense to me to store in some place and review after time, and why not share it with the world?
           <p>Future topics:</p>
           <ul class="list">
               <li>Java Multithreading and Concurrency</li>
               <li>Design Patterns</li>
           </ul>
        </div>    
        <a [href]="blogLink" target="_blank">
            <img class="img-responsive" src="./assets/images/blog.png" alt="image">
        </a>  
    </div>
</div>