$font-stack: Helvetica, sans-serif;
$primary-color: greenyellow;
$secundary-color: #a3a399;
$background-side-color: #808080;

.container {
  margin-left: 0%;
  height: 100vh;
}
div {
  .divNav {
    height: 100vh;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.25);
    background-color: $background-side-color;
  }
  .nav-pills {
    height: 100vh;
    a {
      font: 100% $font-stack;
      height: calc(100vh / 6);
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      text-transform: uppercase;
      text-align: center;
      margin: auto;
      justify-content: center;
      color: $secundary-color;
    }
    .nav-link.active,
    .show > .nav-link {
      background-color: transparent;
      color: $primary-color;
    }
  }
}
