<div class="container">
    <p>Computers have always fascinated me since I was a little boy and also the machines that involve engineering make
        me
        think in the way how a man can resolve big problems that years ago were impossible to solve.
        I consider myself an introverted and practical person, with a critical and ambitious spirit.
        Studying at FEUP has opened new horizons about Computer Engineering give me tools that allow me to better adapt
        to
        the business market and to think the better way to resolve problems.
        Through volunteering (G.A.S. Porto) I developed skills such as interpersonal relationships, teamwork,
        organization
        and problem-solving.
        To improve my self as a software engineer is necessary to cultivate new things that create value in my work, and
        for
        example, I recently started reading the "Clean Code" by Robert Martin (Uncle Bob), one the book that I think
        that
        all developers should read for improving the development of software and also a clean, organize and simple
        structure
        of the code. </p>

    <div class="row">
        <a [href]="linkedin">
            <fa-icon id="linkedin" [icon]="faLinkedin" size="2x"></fa-icon>
        </a>
        <a [href]="stackOverflowLink">
            <fa-icon id="stackOverflow" [icon]="faStackOverflow" size="2x"></fa-icon>
        </a>
        <a [href]="stackOverflowLink">
            <fa-icon id="github" [icon]="faGithub" size="2x"></fa-icon>
        </a>
    </div>
</div>