<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img src="./assets/images/photo1.jpg" alt="First photo" width=800px height=700px>
    </div>
    <div class="carousel-caption">
      <h3>Farolim de Felgueiras</h3>
      <p>Porto</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img src="./assets/images/photo2.jpg" alt="Second photo" width=700px height=700px>
    </div>
    <div class="carousel-caption">
      <h3>Japonese Garden</h3>
      <p>Wroclaw, Poland</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img src="./assets/images/photo3.jpg" alt="Second photo" width=1000px height=700px>
    </div>
    <div class="carousel-caption">
      <h3>Douro Vinhateiro</h3>
      <p>Douro</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="text-center">
  <a [href]="instagramLink" target="_blank">
    <fa-icon id="instagram" [icon]="faInstagram" size="2x"></fa-icon>
  </a>
  <a [href]="pixLink" target="_blank">
      <fa-icon id="pix" [icon]="fa500px" size="2x"></fa-icon>
    </a>
</div>